body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #3494e6, #ec6ead);
    color: #2c3e50; /* Change text color */
    text-align: center;
    padding: 20px;
}

h2 {
    color: #fff;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #333; /* Change form background color */
    color: #fff; /* Change form text color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333; /* Change input text color */
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}
